{% include "base.html.twig" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}


{% block body %}
    <div class="form">
        {{ form_start(recipe) }}
        {{ form_label(recipe.name) }} <br>
        {{ form_widget(recipe.name) }}
        {{ form_rest(recipe) }}
        {{ form_end(recipe) }}
    </div>
    <div class="formWithIngredients">
        {{ form_start(ingredients) }}
        {{ form_label(ingredients.ingredients) }} <br>
        {{ form_widget(ingredients.ingredients) }}
        {{ form_rest(ingredients) }}
        {{ form_end(ingredients) }}
    </div>
    {% include "Carousel/carousel.html.twig" %}
    {% include "default/bottom.html.twig" %}
{% endblock %}